.services {
  width: 100%;
  min-height: 360px;

  &__list {
    display: flex;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: #fff;
    background-color: #43b1d2;
    text-align: center;
    padding: 56px 68px;

    &::after {
      content: '';
      display: block;
      background: url(../img/treatment-icon.png) no-repeat center center;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: #fff;
      order: -1;
      margin: 16px auto;
    }
  }

  &__card-title {
    font-family: $montserrat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    margin-bottom: 4px;
    max-width: 100%;
    padding: 0 4px;
    @include text-overflow;
  }

  &__card-text {
    font-family: $opensans;
    font-size: 16px;
    line-height: 30px;
    max-height: 120px;
    overflow: hidden;
  }
}