.banner {
  height: 40vw;
  background: url("../img/banner.jpg") no-repeat center center / cover;
  text-align: center;
  display: flex;
  align-items: center;


  &__title {
    color: #474747;
    font-family: $montserrat;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1.19px;
    line-height: 1;
  }

  &__text {
    margin: 37px 0 42px;
  }
}