.works {

  @include mobile {
    .col-xs-12 + .col-xs-12 {
      margin-top: 40px;
    }
  }

  &__text {
    margin-bottom: 48px;
  }

  &__card {
    font-family: $montserrat;
    line-height: 1;
    font-weight: 500;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &__card-img {
    //max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;

    img {
      @extend %img-cover;
      transition: transform .2s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__card-title {
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: -1.21px;
    transition: color .2s ease;

    &:hover {
      color: $black;
    }
  }

  &__card-title-link {
    @extend %text-overflow;
  }

  &__card-about {
    display: flex;
    align-items: center;
    color: #0087be;
    font-size: 15px;
    letter-spacing: -0.38px;
    margin-top: 12px;
    @extend %text-overflow;
  }


  &__card-author {
    display: flex;
    align-items: center;

    &::before {
      content: '|';
      margin: 0 12px;
    }
  }

  &__card-description {
    font-family: $opensans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
  }

  &__btn {
    text-align: center;
    margin: 40px auto 0 auto;
  }
}