.header {
  padding: 12px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(#c2c2c2, 0.31);

    @include laptop {
      flex-direction: column;
    }
  }

  &__logo {
    width: 210px;
    height: auto;
    flex-shrink: 0;

    img {
      @extend %img-cover;
    }
  }

  &__contacts {
    display: flex;
    max-width: calc(100% - 132px);
    overflow: hidden;

    @include laptop {
      margin-top: 20px;
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    padding: 0 32px;

    @include tablet {
      padding: 0 12px;
    }

    @include mobile-large {
      max-width: 56%;
      overflow: hidden;
    }

    @include mobile {
      width: 100%;
      max-width: 90%;
      padding: 0;
      margin: 8px 0;
    }

    &:last-child {
      padding-right: 0;

      @include mobile-large {
        margin: 14px auto 0;
        padding-left: 0;
      }

      @include mobile {
        margin: 8px 0;
      }
    }

    &:first-child {
      @include laptop {
        padding-left: 0;
      }
    }
  }

  &__contact-icon-wrapper {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    line-height: 56px;
    background-color: $light-blue;
    text-align: center;
    margin-right: 18px;
    flex-shrink: 0;

    @include tablet {
      margin-right: 8px;
    }

    @include mobile-large {
      width: 40px;
      height: 40px;
      line-height: 41px;
    }
  }

  &__contact-icon {
    color: #ffffff;
    font-size: 24px;

    @include mobile-large {
      font-size: 20px;
    }
  }

  &__contact-info {
    font-size: 15px;
    line-height: 22px;
  }

  &__contact-title {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 218px;
    @extend %text-overflow;
  }

  &__contact-text {
    max-width: 218px;
    @extend %text-overflow;

    &--link {
      transition: color .2s ease;

      &:hover {
        color: $light-blue;
      }
    }
  }

  &__bottom {
    padding: 32px 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
  }

  &__social {
    max-width: 30%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;

    @include tablet {
      max-width: 80%;
    }
  }

  &__social-item {
    font-size: 24px;
    color: $black;
    transition: color .2s ease;

    &:hover {
      color: $light-blue;
    }

    & + & {
      margin-left: 26px;
    }
  }
}