.nav {
  $root: &;
  display: flex;
  align-items: center;
  padding-right: 30px;
  max-width: calc(70%);

  @include tablet {
    display: none;
  }

  &--mobile.nav {
    display: flex;
    flex-direction: column;
    align-items: start;

    #{$root}__item {

      text-align: left;
      & + .nav__item {
        margin-left: 0;
        margin-top: 26px;
      }

    }
  }

  &__item {
    font-family: $nexa;
    font-size: 20px;
    transition: color .2s ease;
    white-space: nowrap;

    &:hover, #{$root}__item:focus {
      color: $black;
    }

    &--active {
      color: $black;
    }

    & + & {
      margin-left: 26px;
    }
  }
}

