.nav {
  $root: &;
  display: flex;
  align-items: center;
  padding-right: 30px;
  max-width: calc(70%);

  &__item {
    font-family: $nexa;
    font-size: 20px;
    transition: color .2s ease;
    white-space: nowrap;

    &:hover, #{$root}__item:focus {
      color: $black;
    }

    &--active {
      color: $black;
    }

    & + & {
      margin-left: 26px;
    }
  }
}

