@font-face {
  font-family: "nexabold";
  src: url("../webfonts/Nexa-Bold.woff") format("woff"),
  url("../webfonts/Nexa-Bold.woff2") format("woff2");
}

body {
  font-family: $opensans, sans-serif;
  color: #6a6a6a;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.76;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.hidden-title {
  visibility: hidden;
  height: 0;
  width: 0;
}

.title {
  color: #494949;
  font-family: $montserrat;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 26px;

  @include mobile-large {
    font-size: 40px;
  }
  @include mobile {
    font-size: 36px;
  }
}

.default-section {
  padding-top: 100px;
  padding-bottom: 100px;

  @include laptop {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include tablet {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @include mobile-large {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.d-block {
  display: block;
}

@include mobile-large {
  .d-sm-block {
    display: block;
  }
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.d-none {
  display: none;
}

.w-100 {
  width: 100% !important;
}

.w-90 {
  width: 90% !important;
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: #fff !important;
}

@include tablet {
  .text-md-center {
    text-align: center !important;
  }
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
@include tablet {
  .text-md-left {
    text-align: left;
  }
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-family: $lato;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.32px;
  padding: 14px 26px;
  text-align: center;
  border-radius: 36px;
  border: 2px solid transparent;
  transition: all .2s ease;
  @extend %text-overflow;

  @include mobile {
    width: 100%;
  }

  &--play {
    background-color: #e2e2e2;
    color: #494949;
    padding: 6px 24px 6px 6px;
    display: inline-block;
    //align-items: center;
    font-family: $montserrat;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;

    & + & {
      margin-top: 12px;
    }

    &:hover {
      background-color: #0087be;
      color: #ffffff;
    }

    span {
      line-height: 40px;
      display: flex;
      align-items: center;

      &::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f144";
        color: #fff;
        font-size: 40px;
        margin-right: 20px;
      }
    }
  }

  &--blue {
    color: #ffffff;
    background-color: $light-blue;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);

    &:hover {
      color: $black;
      background-color: transparent;
      border-color: $light-blue;
    }
  }
}