$widescreen: 1440px;
$laptop: 1200px;
$tablet: 992px;
$mobile-large: 768px;
$mobile: 576px;

//colors
$light-blue: #1a9bdc;
$black: #191919;
$red: #ba000d;

//fonts

$nexa: 'nexabold', sans-serif;
$times: 'Times New Roman', Times, serif;
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

